// footer
#footer{
	box-sizing: border-box;
	.clearfix();
	background: #000 url('@{path-img}/footerBG.jpg') no-repeat top center;
	height: 372px;

	color: #fff;
	> .container{
		.fullContainer-all;
	}
}
