// contactCTA
#contactCTA {	
	box-sizing: border-box;
	.clearfix();
	background-color: @color-blue;
	color: #fff;
	> .fullContainer{
		.fullContainer-all;
		> .container{
			.cols-percent (100%, center);
			.clearfix();
			padding-top: 40px;
			padding-bottom: 40px;
			
			position: relative;
			
			> .title{
				text-transform: uppercase;
				margin: 0;
				.font(25px, 30px);
			}

			> .desc{
				font-family: @font-important-light;
				.font(20px, 25px, normal, italic);
				margin: 0;
				
				@media @screenSM, @screenMD, @screenBG{
					max-width: 70%;
				}
			}

			> .button{
				
				@media @screenTN{
					margin-top: 20px;
					float: right;
				}

				@media @screenSM, @screenMD, @screenBG{
					position: absolute;
					top: 50px;
					right: 0;
				}

				.buttonTrans();
			}
		}
	}
}