// portfolioHighlight
#portfolioHighlight {	
	box-sizing: border-box;
	.clearfix();
	background-color: #fff;
	color: #000;
	> .container{
		.fullContainer-all;
		position: relative;

		> .strikeTitle{
			.strikeTitle(@color: #000);
			padding: 50px 0;
		}
	}
}